@import '../PAS.module.scss';

.whyChoose {
  @include section-gradient;
  padding: 60px 0;
  text-align: center;
  color: white;
}

.whyChooseContent {
  max-width: 800px;
  margin: 0 auto;
}

.whyChooseContent h2 {
  @include h2;
  margin-bottom: 20px;
}

.whyChooseContent p {
  @include p;
}
