@import '../../PAS.module.scss';

.problemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  height: 80vh;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
  }
}

.leftSide {
  flex: 1;
  margin-right: 20px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  p {
    color: $dark-copy-color;

    span {
      color: $highlight-color-2;
      font-weight: bold;
    }
  }
  .problemImage {
    margin-top: 20px;
    margin-bottom: -120px;
    max-width: 100%;
    text-align: center;
    z-index: 2000;
    position: relative;
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    margin-right: 0;
    margin-top: 30px;
  }
}

.rightSide {
  flex: 1;
  margin-left: 20px;

  h1 {
    line-height: 0.85em;
    letter-spacing: -5px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
