@import "../../PAS.module.scss";

.fansExpect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 150px;
  .image {
    flex: 3;
    max-width: 100%;
    margin-right: 20px;
    @media (max-width: 960px) {
      width: 40%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .text {
    flex: 7;

    h2 {
      color: $white-copy-color;
      margin-bottom: 20px;
      span {
        color: #1aa51a;
      }
    }

    p {
      color: $white-copy-color;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
