.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

.section-title h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.section-title h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bg-light {
  background-color: #fcfbfb;
  padding: 100px 0;
}

.mb-3 {
  margin-bottom: 1rem;
}
